%h1 Listing commands

%table
  %thead
    %tr
      %th Command name
      %th Code
      %th
      %th
      %th

  %tbody
    - @commands.each do |command|
      %tr
        %td= command.command_name
        %td= command.code
        %td= link_to 'Show', command
        %td= link_to 'Edit', edit_command_path(command)
        %td= link_to 'Destroy', command, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Command', new_command_path
